input{
    background: red;
}
input[type="text"]{
    background: black;
    color: white;
}
input[value="email"]{
    background: blue;

}
/* بقدر أنادي العنصر من خلال أي أتربيوت بداخلو
وهذا الحكي بمطبق على أي عنصر
بحيث بقدر أنادي على أي عنصر بنفس الطريقة اللي 
بنتبعها هسا: بكتب اسم العنصر وبكتب بداخل
الاقواس أي أتربيوت بميز هذا العنصر */
input[type="submit"]{
    background: yellow;
}
/* هون الهدف من الدرس نتعلم كيف ننادي على العنصر */
