ul {
    list-style-type: circle ;
}
ul {
    list-style-type: decimal;
    list-style-position: inside;
    /* بسبب خيار ال إن سايد
     صارت عندي الأرقام بداخل القائمة */
     /* list-style-image: url(../5.jpg); هون لأنو الصورة
     كبيرة سببت عندي مشكلة 
     لذلك لازم تحط صورة حجمها صغير  */
     list-style: square inside ;
     /* هيك بهاي الطريقة بختصر بدل ما اكتب اكتر من سطر
     زي البوردر,بدل ما اكتب السمك والنوع واللون 
     كل حدا منهم ع سطر, كتبتهم كلهم ع نفس السطر */
}
ul li {
    background-color: aqua;
    /* هذا يدل على ان الارقام تكون منفصلة عن القائمة */
}