p{
width: 70%;
background: #aaa;
padding: 10px;
position: relative;
}
p::before{
    content: " ";
    /* هيك بضيف كلمة تست الى الفقرة
    بضيفها بعد الفقرة لاني كاتب آفتر
    لو بدي اضيفها قبل الفقرة بكتب بيفور */
  
    height: 100%;
    /* 100% من طول الفقرة */
    width: 5px;
    background: green;
    position: absolute ;
    left: 0;
    top: 0;
    /* هيك ضفت على يسار الفقرة او قبل الفقرة
    مسطرة بلون اخضر */

    /* position absolute ميزتها انها بتتحرك بناءاً على
    الأب الخاص فيها (بيفور) بشرط يكون الأب ريلايتف */
}

