div {
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform: translate(-100px, -100px);
  /* transform: translate(-50%, -50%); */
  /* % from the element itself, So with use this way the element will be at the center if i use position and left 50%, top 50% */
  /* translate the best performance for move elements */
  /* -webkit-transform: ; dont forget use it  */
}
